{% load cms_tags static sekizai_tags thumbnail %}

{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{% static 'core/components/tiny-slider/tiny-slider.css' %}">{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'core/components/tiny-slider/tiny-slider.min.js' %}"></script>{% endaddtoblock %}

{% comment %} {% addtoblock "css" %}<link rel="stylesheet" href="{% static 'core/components/flexslider/flexslider.css' %}">{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'core/components/flexslider/jquery.flexslider-min.js' %}"></script>{% endaddtoblock %} {% endcomment %}

{% comment %} {% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{% static 'slider/css/owl.carousel.min.css' %}">{% endaddtoblock %}
{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{% static 'slider/css/owl.theme.default.min.css' %}">{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'slider/js/owl.carousel.min.js' %}"></script>{% endaddtoblock %} {% endcomment %}

{% addtoblock "dynamic-js" %}
<script type="text/javascript">
  $(document).ready(function(){

    var slider = tns({
      container: '#slider-{{id}} .slides',
      loop:true,
      rewind: false,
      autoplay: true,
      items: 1, {# If slides less or equal than items, the slider wont be initialized. #}
      autoWidth: true,
      center: true,
      controls: false,
      nav: true,
      navPosition: "bottom",
      autoplayButtonOutput: false,
      onInit: (e) => {
        //Your code after init
        $('.lightbox').fancybox({
          openEffect  : 'fade',
          closeEffect : 'fade',
          helpers : {
            media : {}
          }
        });
      },
      responsive: {
        640: {
          edgePadding: 20,
          gutter: 20,
          items: 1
        },
        700: {
          gutter: 30
        },
        900: {
          items: {{ instance.num_items }}
        }
      }
    });
  });
</script>
{% endaddtoblock %}

<div id="slider-{{ id }}">
  <ul class="slides">
    {% for plugin in instance.child_plugin_instances %}
    <li class="owl-item">
      {% with forloop.counter as item_number %}
      {% render_plugin plugin %}
      {% endwith %}
    </li>
    {% endfor %}
  </ul>

</div>
{% comment %} <div id="slider-{{id }}" class="flexslider carousel outer-navs png-over text-center" 
  data-options="{% spaceless %}
  numItems:{{instance.num_items}},
  minWidth:100,
  itemMargin:30,
  controlNav:false,
  directionNav:true{% endspaceless %}"
  >
  <ul class="slides">
    {% for plugin in instance.child_plugin_instances %}
      {% with forloop.counter as item_number %}
      {% render_plugin plugin %}
      {% endwith %}
    {% endfor %}
  </ul>
</div> {% endcomment %}