{% extends 'reviews/form.html' %}
{% load cms_tags sekizai_tags static i18n %}

{% block form_content %}
    {% comment %} {{ wizard.form }} {% endcomment %}
        <div class="row g-3">
            <div class="col-md-12">
                <div class="row align-items-center">
                    {% comment %} <div class="col-sm-3 text-right">
                        <p class="field-label {% if form.name.field.required %}required{% endif %}">
                            {{ form.name.label_tag }}
                            {% if form.name.field.required %}<i class="required"></i>{% endif %}
                        </p>
                    </div>
                    <div class="col-sm-9"> {% endcomment %}
                        {{ form.author}}{{ form.author.errors }}
                    {% comment %} </div> {% endcomment %}
                </div>
            </div>
        </div>
{% endblock %}

{% block form_bottom %}
    <div class="row mt-3">
        {% comment %} <div class="col-sm-2">
            {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-outline-primary btn-lg w-100">Назад</button>
            {% endif %}
        </div>
        <div class="col-sm-10"> {% endcomment %}
            <input type="submit" value="Далее" class="btn btn-lg btn-primary w-100"/>
        {% comment %} </div> {% endcomment %}
    </div>
    {% comment %} <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% translate "first step" %}</button> {% endcomment %}
{% endblock %}