
:root {
    --theme-color: #ec2526;
    --theme-primary: #ec2526;
    --theme-text-color: #b30f0f;
    --theme-secondary: #d95454;
    --theme-color-lightest: #fff8f8 ;
}
















