/* .main-banner__layer img {
    display: none;
} */
.main-banner__bg {
    background-image: none !important;
    background: rgb(136,200,255) !important;
    background: linear-gradient(180deg, rgba(136,200,255,1) 0%, rgba(255,255,255,1) 100%) !important;
}
img.navbar-brand-logo {
    content: url("/staticfiles/core/images/logo2.png") !important;
    height: 60px !important;
    position: relative;
    margin-left: -60px;
}
 .main-banner__layer  {
    overflow: unset;
    width: unset;
    max-width: 60% !important;
 }
 .main-banner__layer img {
    content: url("/staticfiles/core/images/gorod-bg.png") !important;
    animation: none !important;
    height: 685px;
 }
.main-header .header-upper .logo-box {
    width: 301px !important;
    margin-left: 50px;
}
.navbar-brand-text { 
    width: 250px;
    margin-top: 16px;
}
.main-menu .navigation {
    margin-left: 0;
}
.navbar-brand-title {
    visibility: hidden;
    position: relative;
}
.navbar-brand-title::after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "АВТОШКОЛА МАСТЕР" !important;
    font-size: 22px;
    color: var(--theme-color);
    font-weight: bold;
    border-bottom: 3px solid transparent !important;
    border-image: linear-gradient(to right, #3e92dc 0%, #ec2526 100%);
    border-image-slice: 100%;
    border-image-slice: 1;
    line-height: 16px;
}
.navbar-brand-subtitle {
    visibility: hidden;
    position: relative;
}
.navbar-brand-subtitle::after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Мы в ответе за тех кого научили" !important;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
}
footer.main-footer {
    background: linear-gradient(180deg, rgba(136, 200, 255, 1) 0%, rgba(255, 255, 255, 1) 80%) !important;
}
footer.main-footer .links-widget a {
    color: #000 !important;
}
footer.main-footer .text-widget .text {
    color: #000 !important;
}
footer.main-footer .contact-widget .text,
footer.main-footer .contact-widget .text a {
    color: #000 !important;
}
footer.main-footer .about-widget ul.social-links a {
    background-color: #345fc6 !important;
}
.footer-bottom {
    background-color: #fff !important;
    border-top: 3px solid #fff;
}
.footer-bottom .text {
    display: none !important;
}
footer .text i {
    color: #345fc6;
}
section.page-title {
    /* background-image: none !important;
    background: linear-gradient(180deg, rgba(136,200,255,1) 0%, rgba(255,255,255,1) 80%) !important; */
}
.header-top {
    background-color: #91ccff !important;
}
.header-top ul.contact-info li,
.header-top ul.contact-info a {
    color: var(--theme-secondary) !important;
}

/* MOBILE MENU */
.mobile-menu .navbar-brand-text {
    width: unset;
    margin-top: 0;
}
.mobile-menu img.navbar-brand-logo {
    height: 40px !important;
    margin-left: -10px;
}
.mobile-menu .navbar-brand-title::after {
    font-size: 14px;
}
.mobile-menu .navbar-brand-subtitle::after {
    font-size: 10px;
}